.column-left {
    display:table-cell;
    vertical-align: middle;
    width: 45%;
    height: 100%;
}

.column-right {
    display:table-cell;
    vertical-align: middle;
    width: 55%;
    height: 100%;
}

#support .container {
    margin-bottom: 0;
}

.support1 {
    padding-top: 20px;
    width: 60%;
}

.support2 {
    padding-bottom: 20px;
    width: 30%;
}

.detail {
    font-size: 1rem;
}

#support {
    background-color: #2B5F9E;
    margin: auto;
}

.detail {
    color: #FAFBFE;
}

.support-title {
    color: #FAFBFE;
}

.vertical-center {
    margin: 0;
    top: 50%;
  }

.highlight {
    color:#6FB97C;
}

.highlight2 {
    color: #FCCE77;
}

.features {
    margin: 5px;
    padding: 10px;
    list-style: none;
  }

.features li {
  display: flex;
}

.icon {
    height: 30%;
    width: 30%;
}

  @media (min-width: 768px) {
    .features {
      display: flex;
      flex-wrap: wrap;
    }
    .features li {
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px) {
    .features li {
      flex-basis: 33%;
    }
  }
