

.column {
    display:table-cell;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

.vertical-center {
    margin: 0;
    top: 50%;
  }

.highlight {
    color:#6FB97C;
}

ul {
    margin: 5px;
    padding: 10px;
    list-style: none;
  }

.features li {
  display: flex;
}

.icon {
    height: 40%;
    width: 40%;
}

  @media (min-width: 768px) {
    .features {
      display: flex;
      flex-wrap: wrap;
    }
    .features li {
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px) {
    .features li {
      flex-basis: 33%;
    }
  }
