
/* .home-wrapper {
    margin: 'auto';
    width: '57%';

} */

@media only screen and (max-width: 400px) {
    .home-wrapper {
        margin: 'auto';
        width: '100%';
    }

    .flow-text {
        font-size: 1.2rem;
    }
}

.title {
    color: #2B5F9E;
}

.buttonLink {
    color: white;
    font-size: 0.9em;
}

.quote {
    text-align: justify;
    font-style: italic;
    font-weight: 300;
}

svg text {
    font-family: "FontAwesome";
 }

.center-align {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
}

.responsive-img {
     width: 90%;
     height: auto;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
}

h3 {
    color: rgb(121, 121, 121);
}

 .flow-text {
    font-size: 0.9rem;
    color:rgb(121, 121, 121);
 }