.mapPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - 180px);
  width: 100%;
  background-color: #f8f8f8;
}

.mapBox {
  grid-column: 2 / 4;
  grid-row: 1;
}

@media (max-width: 600px) {
  .mapBox {
    grid-column: 1 / 4;
    grid-row: 1;
  }
}

.sideBar {
  grid-column: 1;
  grid-row: 1;
}

.searchBox {
  height: 20%;
}

.resultsBox {
  height: 100%;
  overflow: auto;
}

.card {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

 .map {
  max-width: 100%;
  height: 100%;
}

.leaflet-popup-content a {
  color: white;
}

.markerButton {
  color: white;
  padding: 5px 10px !important;
}
.markerButton a {
  color: white !important;
  font-size: 1rem;
}

.collapsible {
  margin: 0;
}