.resourceItem {
    margin: 15px 0;
}

.resouceTitle {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    color: #6FB97C;
}

.resourceURL {
    color: black;
    font-size: 1rem;
    word-break: break-all;
}

.resourceURL:hover {
    border-bottom: 1px solid black;
}

.stateTitle {
    margin: 10px 0;
}