.App {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.appTitle {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.primaryButton {
  color: white;
  display: block;
  padding: 8px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  background-color: #6FB97C;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.primaryButton:hover {
  background-color: #4b2e83;
  color: #EEE7D9;
}

.naviButton {
  color: white;
  display: block;
  font-size: 20px;
  background-color: #4b2e83;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.naviButton:hover {
  color: #EEE7D9;
}

.container {
  margin-bottom: 50px;
}

h1 {
  font-weight: 600;
  font-size: 2.2em;
  color: #2B5F9E;
  line-height: 1.5;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
  color: #2B5F9E;
  line-height: 1.5;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4em;
}

h4 {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.4em;
}
