.searchPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - 65px);
  width: 100%;
  background-color: #f8f8f8;
}

.results {
  grid-column: 2 / 4;
  grid-row: 1;
  overflow: auto;
}

.filters {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  overflow: auto;
}

.multiSelects {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchFilter {
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  height: 40px;
  align-self: center;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 6px;
  font-size: 15px;
  width: 265px;
  padding-left: 10px;
}

.findPrograms {
  align-self: center;
  display: inline-block;
  height: 42px;
  margin-top: 15px;
}

input.findPrograms {
  border-radius: 6px;
  background-color: white;
  color: #4b2e83;
  border-color: #4b2e83;
}

input.findPrograms:hover {
  background-color: #4b2e83;
  color: white;
}

