header nav {
  color:#2B5F9E;
  background-color: white;
}
#HomeLink {
  color:#2B5F9E;
}

.navi-title { 
  float: right;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .navi-logo {
    height: 56px;
  }
}

.navi-logo {
  float: left;
  height: 56px;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .brand-logo {
    left: 30px !important;
  }
}

.navLink:hover {
  color: #b7a57a !important;
}

.navLink {
  color:#2B5F9E !important;
}

.curRoute {
  border-bottom: 1.5px solid #4b2e83;
}

.sidenav .curRoute {
  border-bottom: none;
  background-color:#d3d3d3;
}


