.appHeader nav {
  color:#2B5F9E;
  height: 65px;
  background-color: white;
}
#HomeLink {
  color:#2B5F9E;
}

#HomeLink img {
  margin-top: 6px;
  margin-left: 10px;
  width: 50px;
  float: left;
}

#links {
  float: right;
  margin-right: 20px;
  color: white;
}

.navLink:hover {
  color: #b7a57a !important;
}

a {
  text-decoration: none;
  padding: 5px;
}

.navLink {
  color:#2B5F9E !important;
  margin: 10px;
}

.curRoute {
  border-bottom: 1px solid white;
}


