.appHeader {
  background-color: #4b2e83;
  color: white;
  height: 10vh;
}

#HomeLink img {
  padding-left: 10px;
  width: 18vw;
  float: left;
}

#links {
  float: right;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

