body {
    font-family: 'Open Sans', san-serif;
}

/* .home-wrapper {
    margin: 'auto';
    width: '57%';

} */

@media only screen and (max-width: 400px) {
    .home-wrapper {
        /* margin: 'auto'; */
        width: '80%';
    }

    .flow-text {
        font-size: 1.2rem;
    }
}

.title {
    font-weight: bolder;
}

.italic-light {
    font-style: italic;
    font-weight: 300;
}

.quote {
    text-align: justify;
    font-style: italic;
    font-weight: 300;
}

svg text {
    font-family: "FontAwesome";
 }

 .center-align {
     text-align: center;
 }

 .responsive-img {
     width: 70%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }

 h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
}

 h1 {
     font-size: 1.3em;
 }

 h2 {
    font-size: 3.56rem;
    line-height: 110%;
 }

 h3 {
    font-size: 2.92rem;
    line-height: 110%;
 }

 .flow-text {
    font-size: 1.68rem;
 }