.mapPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 70vh;
  width: 100%;
  background-color: #F7F7F7;
}

.mapBox {
  grid-column: 2 / 4;
  grid-row: 1/3;
}

.seachBox {
  grid-column: 1;
  grid-row: 1;
}

.resultsBox {
  grid-column: 1;
  grid-row: 2;
  overflow: auto;
}

.card {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

 .map {
  max-width: 100%;
  height: 100%;
}
