.programPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 90vh;
  width: 100%;
}

.fullDesc {
  margin: 30px;
  grid-column: 1 / 4;
  grid-row: 1;
}

.genInfo {
  margin: 30px;
  padding: 10px;
  border-left: 1px solid black;
  grid-column: 4;
  grid-row: 1;
}

