.programCard {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 15px;
  border-color: #4b2e83;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.programButton {
  height: 35px;
  color: #4b2e83;
  display: block;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.programButton {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.buttonLink:hover {
  color: white;
}

a:link {
  color: #4b2e83;
}

.programButton:hover {
  background-color: #4b2e83;
  color: white;
}

.iconContent {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.icon {
  align-self: center;
  display: inline-block;
  margin-right: 7px;
}

.content {
  display: inline-block;
  max-width: 250px;
  align-self: center;
}

.verboseContent {
  display: inline-block;
  align-self: center;
  max-width: 450px;
}


.summary {
  color: #606060;
  margin-bottom: 25px;
}

h4 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
}
