.programCard {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 5px;
  border-color: #4b2e83;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.programButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}