.searchComp {
  margin: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchButton {
  align-self: center;
  display: inline-block;
  margin-left: 5px;
  height: 42px;
}


.searchInput {
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  height: 40px;
  align-self: center;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 6px;
  font-size: 15px;
  width: 65%;
  padding-left: 10px;
}

h3 {
  margin-bottom: 10px;
  padding-top: 5px;
  margin-top: 0px;
  font-size: 1.17em;
  font-weight: bold;
  line-height: 1.3;
}
