.searchPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90vh;
  width: 100%;
}

.results {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 1;
  overflow: auto;
}

.filters {
  border: 1px solid black;
  grid-column: 1;
  grid-row: 1;
}

