.searchBox {
  margin: 10px;
  height: 100%;
  text-align: center;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchButton {
  align-self: center;
  display: inline-block;
  margin-left: 5px;
  height: 42px;
}

input.searchButton {
  border-radius: 6px;
  background-color: white;
  color: #4b2e83;
  border-color: #4b2e83;
}

input.searchButton:hover {
  background-color: #4b2e83;
  color: white;
  
}

.searchInput {
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  height: 40px;
  align-self: center;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 6px;
  font-size: 15px;
  width: 65%;
  padding-left: 10px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
