.searchComp {
  padding: 0;
  margin: 0 10px;
}

@media (min-width: 993px) {
  .searchComp {
    width: 60%;
    margin: auto;
  }
}

.collapsible.popout> li {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    margin: 0;
 }

.collapsible li {
   padding: 10px;
   padding-bottom: 0;
 }

 .collapsible-body {
   padding: 0 10px;
   border-bottom: none;
 }

 .collapsible-header {
   padding: 0;
   cursor: pointer;
   border-bottom: none;
   height: 42px;
 }

 .active .collapsible-indicator {
  transform: rotate(90deg) translate(2px, 5px);
  transition: transform 0.2s;
}

.collapsible-indicator {
  transition: transform 0.2s;
}

 .row {
   margin-bottom: 0;
 }
 
 .row .col {
   padding: 0;
 }

 .multiSelects {
   margin-bottom: 10px;
 }

.searchForm {
  display: flex;
  margin-left: 10px;
  justify-content: center;
}

.searchButton {
  align-self: center;
  display: inline-block;
  margin-left: 5px;
  height: 42px;
}

.searchBox {
  padding: 5px 20px !important;
}


.searchInput {
  border: none;
  margin-left: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  height: 40px;
  align-self: center;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 6px;
  font-size: 15px;
  width: 65%;
  padding-left: 10px;
}

.checkBoxColumn {
  text-align: left
}