// Global Styles
@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-size: $font-size-12; 
  font-family: 'Mulish', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: black;
    // text-align: center;
}

h1 { font-size: $font-size-24; }
h2 { font-size: $font-size-20; } 
h3 { font-size: $font-size-18; }
h4 { font-size: $font-size-14; }

.lead {
    color: $primary;
    font-weight: 600;
    font-size: $font-size-14
}

.page-wrapper {
    margin: 2rem 2rem;
}

.figure-caption {
    font-size: $font-size-12;
    color: black;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-lg {
    font-size: $font-size-14;
    line-height: $font-size-20;
    padding: 0.6rem 1.2rem;
}

.form-control {
    font-size: $font-size-12;
}

.footer {
    background-color: $primary;
    color: white;
}

.main-footer p {
    text-align: center;
    margin: 0;
}

.support-footer {
    background-color: $medium-blue;
}

.support-footer h2 {
    color: white;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#content-wrap {
    min-height: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 90%;
    height: auto !important;
    height: 100%;
    margin: 0 auto var(--neg-foot-h);
    
}

/* map */

#mapid {
    height: 300px;
    width: 100%;
    /* height: 50vh; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

// @import '~bootstrap/scss/bootstrap';    // Apply Bootstrap theme modifications