// Global Styles
@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$base-font-size: 12 / 16;  // = 0.75rem = 12px assuming browser default is 1rem = 16px

// :root {
//     --footer-height: 75px;
//     --neg-foot-h: -75px;
// }

body {
  margin: 0;
  font-size: $base-font-size * 1rem;    // 12px
  font-family: 'Mulish', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: $primary;
    text-align: center;
}

h1 { font-size: 2rem * $base-font-size; }   // = 24px
h2 { font-size: 1.67rem * $base-font-size; }   // = 20px
h3 { color: black; }

.lead {
    color: $primary;
    font-weight: 600;
    font-size: $base-font-size * 1.16rem;   // = 14px
}

.page-wrapper {
    margin: 2rem 2rem;
}

.figure-caption {
    font-size: 1rem * $base-font-size;
    color: black;
}

.width-100 {
    width: 100%;
}

.blue-color {
    color: $primary;
}

.blue-background {
    background-color: $primary;
    color: white;
}

.light-blue-background {
    background-color: #2B5F9E;
    color: white;
}

.green-color {
    color: #4E8B43;
}

.center-text {
    text-align: center;
}

.padding-sides {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.padding-top-2rem {
    padding-top: 2rem;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-14 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 10;
}

.font-size-12 {
    font-size: 12px;
}

.program-details {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.emphasis {
    max-width: 20ch;
}

/* Footer */
// .footer, .push {
//     height: var(--footer-height);
//   }

.footer {
    background-color: $primary;
    color: white;
}

.main-footer p {
    text-align: center;
    margin: 0;
}

.support-footer {
    background-color: $medium-blue;
}

.support-footer h2 {
    color: white;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#content-wrap {
    min-height: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 90%;
    height: auto !important;
    height: 100%;
    margin: 0 auto var(--neg-foot-h);
    
}

// #root {
//     padding-bottom:60px;
// }

/* map */

#mapid {
    height: 300px;
    width: 100%;
    /* height: 50vh; */
}

.form-label {
    color: $primary;
}

// @import '~bootstrap/scss/bootstrap';    // Apply Bootstrap theme modifications