@import './theme.scss';

.custom-link {
    color: $link-color !important;
    font-size: $font-size-14;
    text-transform: uppercase;
    margin: 0.2rem 0.5rem;
    // text-align: center;
}

.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.links-wrapper {
    // background: $light-blue;
    padding: 0.5rem;
}