@import './theme.scss';

.custom-link {
    // color: $link-color !important;
    // font-size: $font-size-14;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0.2rem 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.links-wrapper {
    // background: $light-blue;
    padding: 0.5rem;
}

@media (max-width: 767px) {
    .navbar-brand h2 {
      font-size: 0.9rem !important;
      max-width: 150px !important;
    }
}
  
@media (max-width: 575px) {
    .navbar-brand h2 {
        font-size: 0.8rem !important;
        max-width: 120px !important;
    }
}

@media (max-width: 375px) {
    .navbar-brand h2 {
        font-size: 0.7rem !important;
        max-width: 80px !important;
    }
}
  