// @import '../../theme.scss';

.form-label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.form-check {
    margin-bottom: 0.5rem;
}

.keyword-search {
    max-width: 460px;
}